<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztt.dao.mapper.student.StudentMapper">

    <update id="modifyPassword" parameterType="com.ztt.entity.Student">
        UPDATE student
        set password = #{password}
        WHERE id = #{id}
    </update>

</mapper>